<p>To display users from a specific company, select it from the drop-down list below</p>

<hr>

<div class="table-control">
  <div>
    <span>Company </span>
    <select [formControl]="companyInput" class="company-select">
      <option *ngFor="let company of companies">{{company}}</option>
    </select>
  </div>


  <div>
    <span>Users per page </span>
    <select [formControl]="perPageInput" class="per-page-select">
      <option *ngFor="let pagination of paginationCases">{{pagination}}</option>
    </select>
  </div>
</div>

<hr>

<table class="users-table">
  <thead>
    <tr>
      <th
        *ngFor="let column of columnsHeaders"
        class="users-table-cell"
        [class.clickable]="column !== 'avatar'"
        (click)="column !== 'avatar' && changeSorting(column)"
      >
        {{column | titlecase}}
        <span *ngIf="column === sorting.column">{{ isDescSorting(column) ? '&#9660;' : '&#9650;' }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users
      | filter: 'company': companySelected
      | sort: sorting.column : sorting.order
      | pagination: currentPage : currentPagination;
      trackBy: trackById"
    >
      <td
        *ngFor="let column of columnsHeaders"
        [ngSwitch]="column"
        class="users-table-cell"
      >
        <a
          *ngSwitchCase="'username'"
          [routerLink]="['/users', user.id]"
        >
          {{ user[column] }}
        </a>

        <a
          *ngSwitchCase="'avatar'"
          [routerLink]="['/users', user.id]"
        >
          <img [src]="'https://randomuser.me/api/portraits/med/men/' + user.id + '.jpg' | safe: 'resourceUrl'" alt="avatar picture" title="user avatar">
        </a>

        <span *ngSwitchDefault>
          {{ user[column] }}
        </span>

      </td>
    </tr>
  </tbody>
</table>

<div class="wrapper">
  <pagination
    *ngIf="users.length"
    [currentPage]="currentPage"
    [limit]="currentPagination"
    [total]="(users | filter: 'company': companySelected).length"
    (changePage)="changePage($event)"
  ></pagination>
</div>

