.user-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.user-table-cell {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.user-table-cell:first-of-type {
  width: 80px;
}

